@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family= Noto +Sans:ital,wght@1,900 & display=swap');

:root {
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1a5c37;
    --cor5: #063D1E;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-texto: 'Sriracha', cursiva;
    --fonte-numero: 'Noto Sans', sem serifa;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(imagens/pexels-tbee-82256.jpg);
    background-size: cover;
    background-attachment: fixed;
}

a.externo::before {
    content: '\27A1\00a0\00a0';
}

header {
    text-align: center;
    margin: auto;
    margin: 10px 20px; 
    
}
header img {
    border-radius: 5px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.452);
}

header > h1 {
    color:black;
    font-family:var(--fonte-texto);
    max-width: 800px;
    margin: auto;
    font-size: 4em;
    text-shadow: 15px 15px 10px  rgba(0, 0, 0, 0.589);
    padding: 20px;
    
}

header > p {
    color:rgba(0, 0, 0, 0.849);
    font-style: italic;
    font-family: var(--fonte-texto);
    font-size: 1.3em;
    max-width: 900px;
    margin: auto;
    padding-bottom: 10px;
}

header > div  {
    text-align: right;
    margin: 10px 10px;

}
header div a {
    margin-left: 20px;
}
    
nav {
    background-image: linear-gradient(to right,rgba(139, 92, 92, 0.753), transparent);
   /*background-image: url(imagens/weathered-wood-texture.jpg);
    background-size: cover;
    background-attachment: fixed;
    border: 3px solid black;*/
    
    padding: 10px; 
}

nav > a {
    
    /*border-radius: 5px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.432);*/
    color:rgb(48, 3, 3);
    border-radius: 10px;
    font-family: var(--fonte-texto);
    font-size: 1.5em; 
    font-weight: bolder;    
    padding: 10px 40px;
    margin-left: 10px;
    text-decoration: none; 
    transition-duration: .5s;
}

nav > a:hover {
    background-image: linear-gradient(to right,white,transparent);
    color:black;
}
article {
    font-size: 1.3em;
    font-family: var(--fonte-texto);
    text-shadow: 1px 1px 0px white;
    font-style: italic ;
    font-weight: bolder;
    margin-top: 50px;
    
}

article section {
    margin: 20px 40px;
    font-size: 1.2em;
    padding-left: 30px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.432)
    
   
}

main { 
    margin: 50px 20px;  
}

main  h1 {
    color:rgba(0, 0, 0, 0.849);
    font-style: italic;
    font-family: var(--fonte-texto);
    font-size: 2em;
    margin-left: 20px;
    padding-bottom: 30px;
}

main  h2 {
    color: var(--cor5);
    font-family:var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
    font-weight: normal;
}

main p {
    color: black;
    font-style: bolder;
    font-family: var(--fonte-numero);
    font-size: 1.5em;
}

main img {
    margin-top: 20px;
    width: 90%;
    height: 90%;
}

.container {
    display:flex;
    flex-direction: row; 
    padding-bottom: 30px;
}

.elemento{
    text-align: center;
    width: 400px;
    height: 400px;   
}

picture {
    background-image: url(imagens/weathered-wood-texture.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 15px 15px 10px 0px rgba(0, 0, 0, 0.432);
}

/*div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
}

footer a {
    color:black;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: black;
    padding: 10px;
    font-weight: bold;
    transition-duration: .5s;
}*/