@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family= Noto +Sans:ital,wght@1,900 & display=swap');

:root {
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1a5c37;
    --cor5: #063D1E;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-texto: 'Sriracha', cursiva;
    --fonte-numero: 'Noto Sans', sem serifa;
}

* {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
body {
    background: url(imagens/pexels-fwstudio-172286.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

a.externo::before {
    content: '\27A1\00a0\00a0';
}

header {
    display: block;
    text-align: center;
    margin: auto;
    margin: 20px 20px;    
}
header > img {
    width: 80%;
    margin-bottom: 40px;
}

header > h1 {
    display: block;
    color:black;
    font-family:var(--fonte-texto);
    line-height: 1em;
    max-width: 450px;
    margin: auto;
    font-size: 4em;
    text-align: center;
    text-shadow: 15px 15px 10px  rgba(0, 0, 0, 0.342);   
}

header  h2 {
    color:black;
    font-family:var(--fonte-texto);
    line-height: 1em;
    max-width: 1250px;
    margin: auto;
    margin: 30px 0px 30px 0px;
    font-size: 3em;
    text-align: center;
    text-shadow: 15px 15px 10px  rgba(0, 0, 0, 0.342);  
}

header > p {
    color:rgba(0, 0, 0, 0.849);
    font-style: italic;
    font-family: var(--fonte-texto);
    font-size: 1.5em;
    max-width: 900px;
    margin: auto;
    margin-top: 60px;
    padding-bottom: 20px;
}

header a {
   margin-left: 20px; 
   text-decoration: none;
}

header div {  
    text-align: right;
    margin: 30px;
}

section {
    font-family:var(--fonte-texto);
    font-size: 1.8em;
    margin: 20px 0px 5px 0px;
}

section a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    margin-left: 0px;
}

section > p {
    max-width: 400px;
    margin: auto;
    font-size: 1em;
    margin-top: -10px;
    margin-bottom: -50px;
}

nav {
    background-color:rgba(88, 80, 80, 0.541)  ;
    /*background-image: linear-gradient(to right,rgba(88, 80, 80, 0.753), transparent);*/
    /*background-image: url(imagens/weathered-wood-texture.jpg);
    background-size: cover;
    background-attachment: fixed;
    border: 3px solid black;*/
    padding: 5px; 
}

nav > a {
    /*border-radius: 5px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.432);*/
    color:rgb(48, 3, 3);
    border-radius: 10px;
    font-family: var(--fonte-texto);
    font-size: 1.5em; 
    font-weight: bolder;    
    padding: 10px 20px;
    text-decoration: none; 
    transition-duration: .5s;
}

nav > a:hover {
    background-color: rgba(255, 255, 255, 0.534);
    /*background-image: linear-gradient(to right,white,transparent);*/
    color:black;
}

aside h1 {
    color:black;
    font-family:var(--fonte-texto);
    line-height: 1em;
    max-width: 1250px;
    margin: auto;
    margin: 40px;
    font-size: 3em;
    text-align: center;
    text-shadow: 15px 15px 10px  rgba(0, 0, 0, 0.342);  
}

article {
    max-width: 900px;
}

.um {
    margin: 40px auto;
    width: 80vw;    
    
}
.dois {
    margin: 55px 0px 15px 0px;
    text-align: center;
    width: 60px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.466);   
}
.tres {
    font-family: var(--fonte-texto);
    text-align: justify;
    font-size: 2em;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.466);
    line-height: 1.2em;
}
.quatro {
    display: flex;
    justify-content: space-evenly;
    width: 98%;
    margin: auto;
}

div p {
    margin: 10px 20px;
}

main { 
    background: url(imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 10px;
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.425);
    max-width: 900px;
    margin: auto;
    margin-top: 70px;
    text-align: center;
}


main  h1 {
    width: 94%;
    color:rgba(0, 0, 0, 0.849);
    font-family: var(--fonte-texto);
    font-size: 1.6em;
    margin-top: 0px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
}

main  h2 {
    color: var(--cor5);
    font-family:var(--fonte-texto);
    font-size: 2em;
    font-weight: normal;
}
main h3 {
    color: black;
    font-family:var(--fonte-texto);
    font-size: 2em;
    font-weight: normal;
}

.cinco {
    color:black;
    font-family:var(--fonte-texto);
    margin: auto;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 15px 15px 10px  rgba(0, 0, 0, 0.342);  
}

main div {
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    padding-bottom: 10px;
}

main img {
    /*background-color: rgba(153, 137, 137, 0.651);*/
    /*background-image: url(imagens/weathered-wood-texture.jpg);
    background: url(imagens/pexels-henry-&-co-2341290.jpg) no-repeat center;*/
    width: 100%;
    height: 100%;
    border: 4px solid rgba(0, 0, 0, 0.568);
    border-radius: 15px;
    box-shadow: 15px 15px 10px 0px rgba(0, 0, 0, 0.541); 
    margin-top: 40px;
}

main img:hover {
    border: 4px solid white;
    box-shadow: 15px 15px 10px 0px rgba(255, 255, 255, 0.774);
}

ul#album-fotos {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    overflow: hidden;
    list-style: none;
}

ul#album-fotos li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid #ffffff;
    background-color: #3DDC84;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.377);
    -webkit-transition: all .4s ease-in;
}

ul#album-fotos li span {
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 1px;
    background-color: rgba(0, 0, 0, 0.493);
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;
}

ul#album-fotos li:hover {
    -webkit-transform: scale(1.3);
}

ul#album-fotos li:hover span {
    opacity: 1;
}

ul#album-fotos li#foto01 {
    background: url(imagens/armarioCozinha455x455.png)no-repeat;
    background-position: 50% 50%;  
    background-size: 455px 455px;
    background-color: white;
}

ul#album-fotos li#foto01:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto02 {
    background: url(imagens/blacão455x455.3.png)no-repeat;
    background-position: 50% 50%;  
    background-size: 455px 455px;
    background-color: white;
}

ul#album-fotos li#foto02:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto03 {
    background: url(imagens/imagem\ guarda-roupa455x455.png)no-repeat;
    background-position: 50% 50%;  
    background-size: 455px 455px;
    background-color: white;
}

ul#album-fotos li#foto03:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto04 {
    background: url(imagens/balcãofechado2.png)no-repeat;
    background-position: 50% 50%;  
    background-size: 455px 455px;
    background-color: white;
}

ul#album-fotos li#foto04:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto05 {
    background: url(imagens/balcãofechado2.png)no-repeat;
    background-position: 50% 50%;  
    background-size: 455px 455px;
    background-color: white;
}

ul#album-fotos li#foto05:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto06 {
    background: url(imagens/balcãofechado2.png)no-repeat;
    background-position: 50% 50%;  
    background-size: 455px 455px;
    background-color: white;
}

ul#album-fotos li#foto06:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

p a {
    color: black;
    font-size: 1em;
    font-weight: bolder;
    font-family: var(--fonte-texto);
    text-decoration: none;
}

p a:hover {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 15px 15px 10px 0px rgba(255, 255, 255, 0.774);
}
abbr {
    text-decoration: none;
}

#img1 {
    margin: auto;
    width: 40%;
    height: 40%;
}

#img2 {
    margin: auto;
    width: 40%;
    height: 40%;
}

#img3 {
    font-family: var(--fonte-numero);
    font-size: 1.1em;
    font-weight: bolder;
} 

footer {
    display: flex; 
    justify-content: center;
    font-size: .800em;
    padding: 8px;
    margin: auto;  
}

footer > a {
    margin: auto;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    margin: 2px;
}

/*footer a:hover {
   background-color: white;
   border-radius: 10px;
   padding: 3px;
}*/

footer img {
   width: 15%;
}



/*div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}



/*article {
    font-size: 1.4em;
    font-family: var(--fonte-texto);
    font-style: italic ;
    font-weight: bolder;
    margin-top: 30px;
}

article section {
    margin: 20px 40px;
    font-size: 1.2em;
    padding-left: 30px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.432)  
}*/