@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family= Noto +Sans:ital,wght@1,900 & display=swap');

:root {
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1a5c37;
    --cor5: #063D1E;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-texto: 'Sriracha', cursiva;
    --fonte-numero: 'Noto Sans', sem serifa;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed;
}

a.externo::before {
    content: '\27A1\00a0\00a0';
}

header {
    text-align: center;
    margin: auto;
    margin: 10px 20px;    
}
header img {
    border-radius: 5px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.452);
}

header > h1 {
    color:black;
    font-family:var(--fonte-texto);
    line-height: 1em;
    max-width: 500px;
    margin: auto;
    font-size: 4.5em;
    text-shadow: 15px 15px 10px  rgba(0, 0, 0, 0.342);
    padding: 20px;  margin-bottom: 10px; 
}

header > p {
    color:rgba(0, 0, 0, 0.849);
    font-style: italic;
    font-family: var(--fonte-texto);
    font-size: 1.5em;
    max-width: 900px;
    margin: auto;
    padding-bottom: 20px;
}

h2 {
    color:black;
    font-family:var(--fonte-texto);
    max-width: 1250px;
    margin: auto;
    margin-top: 10PX;
    font-size: 3.5em;
    text-align: center;
    text-shadow: 15px 15px 10px  rgba(0, 0, 0, 0.342);  
}

header > div  {
    text-align: right;
    margin: 0px 20px;
}
header div a {
    margin-left: 20px;
}
    
nav {
    background-color:rgba(88, 80, 80, 0.541)  ;
    /*background-image: linear-gradient(to right,rgba(88, 80, 80, 0.753), transparent);*/
    /*background-image: url(imagens/weathered-wood-texture.jpg);
    background-size: cover;
    background-attachment: fixed;
    border: 3px solid black;*/
    padding: 10px; 
}

nav > a {
    /*border-radius: 5px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.432);*/
    color:rgb(48, 3, 3);
    border-radius: 10px;
    font-family: var(--fonte-texto);
    font-size: 1.5em; 
    font-weight: bolder;    
    padding: 10px 40px;
    margin-left: 10px;
    text-decoration: none; 
    transition-duration: .5s;
}

nav > a:hover {
    background-color: rgba(255, 255, 255, 0.534);
    /*background-image: linear-gradient(to right,white,transparent);*/
    color:black;
}

article {
    font-size: 1.4em;
    font-family: var(--fonte-texto);
    font-style: italic ;
    font-weight: bolder;
    margin-top: 30px;
}

article section {
    margin: 20px 40px;
    font-size: 1.2em;
    padding-left: 30px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.432)  
}

main { 
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

main  h1 {
    color:rgba(0, 0, 0, 0.849);
    font-style: italic;
    font-family: var(--fonte-texto);
    font-size: 2.5em;
    margin-left: 20px;
    padding-bottom: 30px;
}

main  h2 {
    color: var(--cor5);
    font-family:var(--fonte-texto);
    font-size: 2em;
    font-weight: normal;
}

main p {
    color: black;
    font-style: bolder;
    font-family: var(--fonte-numero);
    font-size: 1.5em;
}

main img {
    /*background-color: rgba(153, 137, 137, 0.651);*/
    /*background-image: url(imagens/weathered-wood-texture.jpg);*/
    background-image: url(imagens/pexels-henry-&-co-2341290.jpg);
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 15px 15px 10px 0px rgba(0, 0, 0, 0.432);
    margin-bottom: 30px;
    margin: 20px;
    padding: 20px;
    width: 60%;
    height: 60%;
}

main div {
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    padding-bottom: 30px;
}

picture {
  
}

/*div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
}

footer a {
    color:black;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: black;
    padding: 10px;
    font-weight: bold;
    transition-duration: .5s;
}*/